@model IEnumerable<CarSmash.Models.Image>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.ImageId)</th>

        <th>@Html.DisplayNameFor(model => model.ProductId)</th>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ImageId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Url)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.ImageId">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.ImageId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.ImageId">Delete</a>
        </td>
    </tr>
}
</table>
