@using CarSmash.Controllers
@{
    var product = Model as Product;
}
<div class="product-details">
    <div class="row">
        <div class="product-images col s12 m6 l4">
            <div class="product-display-image">
                <img id="bigimg" src="@product.Images.ElementAt(0).Url" />
            </div>
            <div class="product-image-list">
                @if (product.Images.Count > 1)
                {
                    foreach (var image in @product.Images)
                    {
                        <img class="minimg" src="@image.Url"/>
                    }
                }
            </div>
        </div>
        <div class="header-addtocart">
            <div class="product-header col s12 m6 l4">
                <p>@product.Name</p>
                <hr />
                <hr />
            </div>
            <div class="product-price col s12 m6 l4">
                <p id="price-out">@string.Format("{0:C}", product.Price)</p>
                <form asp-action="AddToCart" asp-controller="Home">
                    <div class="input-field">
                        <input hidden name="id" value="@product.ProductId" />
                        <input hidden id="price-per" value="@product.Price" />
                        <label for="quantity">Quantity</label>
                        <input type="number" min="0" name="quantity" id="quant-select" class="quantity-selector" value="1" />
                        <a onclick="$(this).parent().parent().submit()" class="btn btn-default"> Add To Cart</a>
                    </div>

                </form>


            </div>
        </div>

    </div>
    <div class="row center">
        <div class="s12">@product.Description</div>
</div>
</div>